@Model 

<!--It seems like this newer version 7 doesn't need you to specify the type at the top
seems like it does that for you,you also need not define a semicolon in the end..-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  @Model</h1>